/* General */
   BODY {font-family: verdana, arial, sans-serif; font-size: 1em; margin: 0;}

/* Titulares */
   H1 {font-size: 1em; color: #003399; font-weight: bold; margin-top: 1em; }
   H2 {font-size: 0.8em; color: black; font-weight: bold;}
 
/* Logotipo */
   IMG.logo {padding-left: 1em;}
 
/* Lista de opciones del menú principal */
   UL {list-style-type: none; margin-left: 0; padding-left: 0; margin-top: 2em;}
   LI {margin-bottom: 0.2em; font-size: 0.8em; color: #000000; background: #FFCC66;
      padding: 0.1em 0.2em;}

/* Noticias */
   .noticia {width: 500px; background: white; border: 1px dotted blue;
      margin-bottom: 1em; padding: 0.5em;}
   P.textonoticia {font-size: 0.8em}
   IMG.foto-noticia {float: right; margin-left: 0.5em;}

/* Textos destacados con SPAN */
   .importante {color: #003399; font-weight: bold;}

/* Dirección */
   ADDRESS {font-size: 0.8em; padding-left: 1em;}
 
/* Tablas */
   TD.menu {width: 100px; padding: 1em 0.5em; background: #FFFFFF;}
   TD.titulo {height: 90px; text-align: center; padding-top: 1em; background: #FFCC66;}
   TD.info {width: 500px; padding-left: 1em; background: #FFFFFF;}
   TD.derecha {width: 120px; padding-top: 1.5em; padding-bottom: 1em; padding-left: 0.5em;
      text-align: center;}
   TD.pie {text-align: center; padding: 0.3em; background: #E9EEF6;}
